[submodule "libunif"]
	path = libunif
	url = https://github.com/eteran/libunif
[submodule "libines"]
	path = libines
	url = https://github.com/eteran/libines
[submodule "libines2"]
	path = libines2
	url = https://github.com/eteran/libines2.git
